- name: Register & Start Runner
  hosts: servers
  remote_user: ubuntu

  tasks:
    - name: Change File Permissions
      ansible.builtin.file:
        path: /home/ubuntu/actions-runner/expect_start.sh
        state: touch
        mode: u=rwx,g=r,o=r
    
    - name: Change File Permissions
      ansible.builtin.file:
        path: /home/ubuntu/configure.sh
        state: touch
        mode: u=rwx,g=r,o=r

    - name: Extract & Configure the runner
      ansible.builtin.command:
        argv:
          - /home/ubuntu/scripts/configure.sh
          - "{{ACCESS_TOKEN}}"
          - "{{ORG}}"

    - name: Install Runner Service
      become: true
      ansible.builtin.command:
        chdir: /home/ubuntu/actions-runner/
        argv:
          - ./svc.sh
          - install
    
    - name: Start Runner Service
      become: true
      ansible.builtin.command:
        chdir: /home/ubuntu/actions-runner/
        argv:
          - ./svc.sh
          - start