name: create-gh-action-runner-image.yaml
on:
  push:

jobs:
  packer:
    runs-on: ubuntu-latest
    defaults:
      run: 
        working-directory: self-hosted-gh-runners/static/packer
    env:
      OS_CLIENT_CONFIG_FILE: ${{ github.workspace }}/clouds.yaml
      OS_CLOUD: openstack
      IMAGE_NAME: gh-action-runner-image
      BASE_IMAGE_NAME: ubuntu-noble-24.04-nogui
      FLAVOR_NAME: l3.nano
      NETWORK_NAME: Internal
      PACKER_FLOATING_IP: ${{ secrets.PACKER_FLOATING_IP }}
    
    outputs:
      base_image_id: ${{ steps.export.outputs.base_image_id }}
      flavor_id: ${{ steps.export.outputs.flavor_id }}
      network_id: ${{ steps.export.outputs.network_id }}

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install OpenStack CLI
      run: |
        sudo apt update
        sudo apt install -y python3-pip
        pip3 install python-openstackclient

    - name: Create clouds.yaml
      run: echo "${{ secrets.OPENSTACK_CLOUDS }}" >> ${{ github.workspace }}/clouds.yaml 
    
    - name: Export Base Image & Build VM Flavor
      id: export
      run: |
        echo "Export Base Image ID"
        echo "base_image_id=$(openstack image show ${{ env.BASE_IMAGE_NAME }} -f value -c id)" >> "$GITHUB_OUTPUT"

        echo "Export Build VM Flavor ID"
        echo "flavor_id=$(openstack flavor show ${{ env.FLAVOR_NAME }} -f value -c id)" >> "$GITHUB_OUTPUT"

        echo "Export Network ID"
        echo "network_id=$(openstack network show ${{ env.NETWORK_NAME }} -f value -c id)" >> "$GITHUB_OUTPUT"

    - name: Setup packer
      uses: hashicorp/setup-packer@main
      with:
        version: latest

    - name: Packer Init
      run: packer init .

    - name: Packer Validate & Build
      env:
        BASE_IMAGE_ID: ${{ steps.export.outputs.base_image_id }}
        FLAVOR_ID: ${{ steps.export.outputs.flavor_id }}
        NETWORK_ID: ${{ steps.export.outputs.network_id }}
      run: |
        packer validate .
        packer build .

    - name: Delete old images
      run: ./scripts/delete_old_images.sh