name: apply-sh-gh-runner-config
on: 
  workflow-dispatch:

jobs:
  apply-terraform:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: self-hosted-gh-runners/static/terraform
    outputs:
      vm_ips: ${{ steps.check-vms.outputs.vm-ips }}
    env:
      OS_CLIENT_CONFIG_FILE: ${{ github.workspace }}/clouds.yaml
      IMAGE_NAME: github-action-runner-image
      FLAVOR_NAME: l3.nano
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Create clouds.yaml
        run: echo "${{ secrets.OPENSTACK_CLOUDS }}" >> ${{ github.workspace }}/clouds.yaml

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.3
          terraform_wrapper: false

      - name: Get terraform.tfstate
        run: |
          vault login ${{ secrets.VAULT_TOKEN }}
          vault kv get -address="https://secrets.isis.rl.ac.uk" -mount="fase-ci-cd" -field="tfstate" "tfstate" > terraform.tfstate

      - name: Terraform init
        run: terraform init

      - name: Terraform plan
        run: terraform plan -out=tfplan 1> /dev/null

      - name: Terraform apply
        run: terraform apply -auto-approve tfplan 1> /dev/null

      - name: Create hosts.ini & Crete list of IPs
        id: check-vms
        run: |
          echo $(terraform output -json vm_ips) | jq -r '.[]' >> ../ansible/hosts.ini \
          && echo "vm_ips=$(echo $(terraform output -json vm_ips) | jq -r '.[]')" >> $GITHUB_OUTPUT

      - name: Put terraform.tfstate
        run: |
          vault login ${{ secrets.VAULT_TOKEN }}
          vault kv put -address="https://secrets.isis.rl.ac.uk" -mount="fase-ci-cd" "tfstate" tfstate="@terraform.tfstate"

      - name: Setup SSH
        env:
          VM_IPS: ${{ steps.export.outputs.check-vms.vm_ips}}
        run: |
          service ssh status
          eval `ssh-agent -s`
          mkdir -p ~/.ssh/
          touch ~/.ssh/config
          touch ~/.ssh/id_rsa
          echo -e "${{ secrets.FASE_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 400 ~/.ssh/id_rsa
          echo $VM_IPS >> ../ansible/hosts.txt
          sed -i '$!s/$/,/' ../ansible/hosts.txt
          ssh-keyscan -f ../ansible/hosts.txt >> ~/.ssh/known_hosts

      - name: Run GitHub runner setup playbook # Include any environment variables needed
        run: |
          ansible-playbook --private-key ~/.ssh/id_rsa -u ${{ secrets.ANSIBLE_DEPLOY_USER }} -i ../ansible/hosts.ini ../ansible/create-gh-action-runners.yaml --extra-vars ACCESS_TOKEN=${{ secrets.ACCESS_TOKEN }} --extra-vars ORG=${{ github.repository_owner }}

      - name: Put hosts.ini
        env:
          VM_IPS: ${{ steps.export.outputs.check-vms.vm_ips}}
        run: |
          vault kv put -address="https://secrets.isis.rl.ac.uk" -mount="fase-ci-cd" "hosts" hosts="$VM_IPS"
      


